<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261526967611-et292p23qvmnboag0ggfn542aa5fn3qq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261526967611-et292p23qvmnboag0ggfn542aa5fn3qq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>261526967611-a0uf907kdsdbvmfv42n6u8edp5844inh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhAOpn0EygHWOXqAXrdXM7L0V2mM7MzKo</string>
	<key>GCM_SENDER_ID</key>
	<string>261526967611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.dalrat</string>
	<key>PROJECT_ID</key>
	<string>dalrat</string>
	<key>STORAGE_BUCKET</key>
	<string>dalrat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261526967611:ios:e14bd83a76ef3ad4ef531e</string>
	<key>DATABASE_URL</key>
	<string>https://dalrat.firebaseio.com</string>
</dict>
</plist>